$include-html-classes: false
$include-html-grid-classes: true
$include-html-type-classes: true
$include-html-label-classes: true
$include-html-form-classes: true
$include-html-button-classes: true
$body-font-color: white
$header-font-color: $body-font-color
$anchor-font-color: $body-font-color
$input-font-color: $color-invert
$anchor-text-decoration: underline
$input-border-width: 0
$input-box-shadow: none
$fa-font-path: '/bower_components/font-awesome/fonts'
$citu-presentation: false
