html
	@extend %full-height
body
	@extend %full-height
p
	color: $body-font-color
.site
	&-container
		padding: $phi+em 0
		> *
			@extend %layer-normal
	&-footer
		position: fixed
		bottom: 0
		right: 0
		max-width: none
		z-index: $layer-dynamic-over
		background:
			color: rgba($body-bg, 0.98)
		padding: 1/$phi+em
		p
			&:last-child
				margin:
					bottom: 0
		&,*
			color: darken($body-font-color, 10%)
			font:
				size: small
	&-title
		z-index: $layer-dynamic-over
		font:
			size: 4em
			family: $font-title
	&-description
		@extend %arrived-hide
.results-arrived
	%arrived-hide
		display: none
	%arrived-search-wrapper
		position: relative !important
		width: auto
		height: auto
		min-height: 0
		&::before
			display: none
.row
	.row
		max-width: $row-width
