//- Base template
//- All other templates should extend from this

include library/functions
include library/variables
//- [injector:jade]
//- [endinjector]

doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title=site_title
		meta(name='description', content=site_description)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='//www.google-analytics.com', rel='dns-prefetch')

		link(rel='stylesheet', href='/styles/main.css')

		script(src='/bower_components/modernizr/modernizr.js')
	body
		block content

		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-55845464-1');ga('send','pageview');

		// build:js(client) scripts/global.js
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/foundation/js/vendor/fastclick.js')
		script(src='/bower_components/foundation/js/foundation/foundation.js')
		// endbuild

		// build:js(client) scripts/app.js
		// [injector:js]
		// [endinjector]
		script(src='/scripts/app.js')
		// endbuild
