block variables
	-var site_title=get_data(data.title, '{{title}}')
	-var site_description=get_data(data.description, '{{description}}')
	-var testdata=data.testdata
	-var default_url='javascript:void(0)'
