//- Homepage Markup
extends layouts/base

block content
	main.site-container.row
		h1.site-title.text-center=site_title
		.search-wrapper.citu-wrapper
			.search-wrapper-target.citu-target.row
				form.search-field.medium-5.small-centered.columns
					.row.collapse
						.small-8.columns
							input(type='search' placeholder=get_data(data['description-short'], '{{description-short}}') autofocus)
						.small-4.columns
							button.postfix(type='submit')=get_data(data.l10n['input-submit'], '{{l10n.input-submit}}')
				p.site-description.medium-5.large-4.small-centered.columns=site_description
	footer.site-footer.row
		.small-12.columns.text-right
			if test_debug
				include:md data/footer.md
			else
				{{footer}}
